@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Training Portal</h1>
    <p>
        This portal provides information about training programs offered by our college.
    </p>

</div>
